<html>
	<header>
		<img src="images/logo.png" height="100px">
	</header>

	<body style=\"font: 1em Tahoma\">
		<p>You requested a password reset of your account with eliteFood.com";
		<p>Please click on this link <a href="RresetPassword.php?mfemailurlidentifier=echo $str & mylifeinchrist = echo $id">eliteFood.com/reset/425/dcd281c170f79a82d93ecb7c7016b120</a></p> and follow the instructions to successfully reset your password.</p>
		<p>If clicking on the link does not work, copy and paste the URL in your address bar.</p>
		<hr>
		<p>If you haven't requested a password reset, please ignore this mail! Thank You</p>
		<span>Sincerely, eliteFood Customer care center.</span>
	</body>
</html>